.item-image, .description-image {
  height: auto;
  //max-height: 250px;
  width: auto;
  max-width: 600px;
  margin-top:18px;
}

.backLink{
  color: dimgrey;
  //font-weight: bold;
  text-decoration: none;
}
.comment-block {
  margin-top: 15px;
}

.comment-input {
  margin: 10px 0;
}

.comment {
  border: 1px solid black;
  maring: 10px;
  font-size: 20px;
  padding: 15px;
}

.priceButton{

}
