.item-image, .description-image {
  width: 100%
}

.comment-block {
  margin-top: 15px;
}

.comment-input {
  margin: 10px 0;
}

.comment {
  border: 1px solid black;
  maring: 10px;
  font-size: 20px;
  padding: 15px;
}
